altgraph==0.17.2
astroid==2.9.3
autopep8==1.6.0
beniget==0.4.1
colorama==0.4.4
cuesdk==1.1.0
Cython==0.29.27
future==0.18.2
gast==0.5.3
isort==5.10.1
lazy-object-proxy==1.7.1
macholib==1.15.2
mccabe==0.7.0
mss==6.1.0
numpy==1.22.2
pefile==2021.9.3
Pillow==9.0.1
ply==3.11
pybind11==2.9.1
pycodestyle==2.8.0
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.0
pynput==1.7.6
pythran==0.11.0
pywin32-ctypes==0.2.0
scipy==1.8.0
six==1.16.0
toml==0.10.2
wrapt==1.13.3
